# Node.js
node_modules/
.env
.env.production
.vs/
.DS_Store

# VSCode
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ServerData
config/scheduledChannels.json
inviteRoles.json
data/